<body>
    <div style="background-color: black; padding: 20px; ">
        <h1 style="color: white;"><a href="#" style="color: white;"><i class="material-icons" style="padding-right: 40%;" routerLink="/home" routerLinkActive="active">arrow_back</i></a>Details</h1></div>
    <div class="contain">
    <div class="m-4">
        <table class="table table-hover">
      
         <thead >
           <tr>
               <th scope="col" >id</th>
               <th scope="col" >Book Name</th>
               <th scope="col" >Author</th> 
               <th scope="col" >Description</th>  
           </tr>
       </thead>
   <tbody>
   <tr>
   <th scope="row" >{{book.id}}</th>
   <td >{{book.bookname}}</td>
   <td >{{book.author}}</td>
   <td >{{book.details}}</td>
   </tr> 
   
   </tbody>
</table>
    </div></div>

    </body>